{
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single", "backtick"]
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  }
}
